.menuItem {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem .itemWrapper,
.menuItem .itemWrapper button {
    cursor: pointer;
}

.menuItem button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.9vw;
    padding: 0.313vw 0.625vw;
}

.menuItem.active .itemWrapper button {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
}

@media (max-width: 1440px) {
    .menuItem button {
        font-size: 1vw;
        font-weight: bold;
    }
}

@media (max-width: 1240px) {
    .menuItem {
        margin-bottom: 16px;
    }

    .menuItem button {
        font-size: 1rem;
        font-weight: normal;
    }

    .menuItem.active .itemWrapper button {
        background-color: transparent;
        color: #000;
        border-radius: none;
    }

    .menuItem button:hover {
        font-weight: bold;
    }
}