.navbarContainer {
    position: relative;
    height: 80px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandName {
    font-size: 0.8rem;
    cursor: pointer;
}

.navbarMenuContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1240px) {
    .navbar {
        justify-content: space-between;
        margin: 0 4.444vw;
    }

    .navbarMenuContainer {
        justify-content: space-between;
    }
}